.roster-row {
  .period, .slot {
    padding: 3px;
    border: 1px solid;
    display: inline-block;
  }
  .period {
    width: 150px;
  }
  .slot {
    width: 200px;
    text-align: center;
  }
}
.roster-row:nth-child(even) {
  .slot {
    background: lightblue;
  }
}